# Created by .ignore support plugin (hsz.mobi)
### Python template

# OSX Residuals
*.DS_Store
# *.yaml
*.env
*.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*$pyc

# docstrings
logs/
*ipynb

# app
node_modules/

#streamlit front
app/backend/config.toml
app/backend/stream.py